page-about {

}
$small-size :1.9rem;

ion-grid{
  text-transform: uppercase;
  color: #6D6D6D;
}
ion-row{
  align-items: center;
  font-size: $small-size;
  font-weight: 600;
}
.holder-weather{
  height: 33%;
}

.holder-weather.big{
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.img-back-blured{
  position: absolute;
  width: 80%;
  z-index: -1;
  opacity: 0.1;

  max-width: 30rem;
}
.temp{
  font-size: 25rem;
  font-weight: bold;
  text-shadow: 1px -1px 8px white;
}
.next-day{
  margin-bottom: $small-size/2;
}
.next-forecast{
  align-items: center;
  justify-content: center;
}
.blur{

  position: absolute;
  width: 45%;
  height: 80vh;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;


}
.main-grid{
  height: 100%;
}
.blur.left{
  background-image: url("../assets/back_left.png");
  left: 0;
}
.blur.right{
  background-image: url("../assets/back_right.png");
  right: 0;
}
.icon{
  max-width: 2.5rem;
  height: 2.5rem;
  margin: 0 0.7rem 0 0.7rem;
  position: relative;
  top: 0.3rem;
}